/*<!--text & color-->*/
@font-face {
    font-family: 'Hero';
    src: url('/global/fonts/OTF/Hero-Regular.otf') format('opentype');
}

:root {
    font-size: 16px;
    font-family: 'Hero';
    background-color: var(--bg-primary);
    --text-primary: #E6E0EB;
    --bg-primary: #241F2E;
    --text-highlight: #bbb3cb;
    --text-link-hover: #E6E0EB;
    --navbar-primary: #443e3b;
    --navbar-secondary: #8e827d;
}
/*<!--content-->*/
body {
    font-family: 'Hero', sans-serif;
    background-color: var(--bg-primary);
    color:var(--text-primary);
    margin: 0;
    padding: 0;
}

main{
    margin-top: 3rem;
    padding: 1rem;
}

.navbar {
    width: 10vh;
    height: 3rem;
    color:var(--navbar-primary)
}

h1 {
    font-family: 'Hero', sans-serif;
    background-color: var(--bg-primary);
    color:var(--text-highlight)
}

p {
    font-family: 'Hero', sans-serif;
    background-color: var(--bg-primary);
}

title {
    font-family:'Hero';
    text-transform: full-width;
}

.highlight {
    font-family:'Hero';
    text-align:center;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {   
    background: #241f2e00;
}

body::-webkit-scrollbar-thumb {
    background: #bbb3cb;
}